@model QuanLyLinhKienDienThoai.Models.LOAISANPHAM

@{
    ViewBag.Title = "Thêm";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_AddUpdate")