@model QuanLyLinhKienDienThoai.Models.THUONGHIEU

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_AddUpdate")